<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genome Dashboard - IGB</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/stylesheets/card.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/stylesheets/menu.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/stylesheets/style.css"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body onload="checkBrowserSupport()">

    <div id="TopMenu"></div>
    <!-- Load top menu navbar html -->
    <script src="/public/javascripts/menu.js"></script>
<h5 id ="browser_support_bar"></h5><br>
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <h2 class="header">
            Start
            <a
              href="https://bioviz.org/download.html"
              style="color:#ffbe44"
              onclick="activatePopup()"
              target="popup"
              >Integrated Genome Browser</a
            >. Then click a species to open its genome.
          </h2>
        </div>
      </div>
      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input
              class="search_input"
              id="search_input"
              onkeyup="onPageSearch()"
              placeholder="Search .."
            />
            <span onclick="clearSearch()" class="search_icon"
              ><i class="fas fa-times"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="row" id="row">
        <% Object.keys(data.genomeData).forEach((key) => { %>
        <div class="col" id="searchDiv">
          <div class="contact-area">
            <div class="contact">
              <main>
                <section>
                  <div class="content">
                    <a onclick="igbRedirect(event, '<%= data.genomeData[key][0] %>')">
                      <% let imageName = images.find(s => s.includes(key));
                      if(imageName) { %>
                      <img
                        src="/public/images/<%= imageName %>"
                        alt="<%= imageName %>"
                      />
                      <% } else { %>
                      <img
                        src="/public/images/app_icon_generic.png"
                        width="60px"
                        height="60px"
                      />
                      <% } %>
                    </a>
                    <aside>
                      <h1>
                        <% if(data.commonName[key] !== undefined) { %><%=
                        data.commonName[key][0] %> <% } else { %> <%= key %>
                        <%}%>
                      </h1>
                      <p style="font-style: italic; text-align: center;">
                        <strong
                          ><% if(data.scientificName[key] !== undefined) { %><%=
                          data.scientificName[key][0] %><% } else { %> <%= key
                          %> <%}%></strong
                        >
                      </p>
                    </aside>

                    <button id="<%= key %>">
                      <span style="color: black;"
                        ><strong>Genome Versions</strong></span
                      >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="48"
                        height="48"
                        viewBox="0 0 48 48"
                      >
                        <g class="nc-icon-wrapper" fill="#444444">
                          <path
                            d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"
                          ></path>
                        </g>
                      </svg>
                    </button>
                  </div>
                  <div class="title" id="<%= 'event2' + key %>">
                    <p>Genome Versions</p>
                  </div>
                </section>
              </main>

              <nav id="<%= 'event3' + key %>">
                <% data.genomeData[key].forEach(element => { %>
                <a onclick="igbRedirect(event, '<%= element %>')" class="igb">
                  <div class="icon">
                    <img
                      src="/public/images/app_icon_generic.png"
                      width="60px"
                      height="60px"
                    />
                  </div>

                  <div class="content">
                    <h1>View in IGB</h1>

                    <span style="display: flex;">
                      <%- element.split('_').join(' ') %> <% if(data.Synonyms[element] != undefined)
                      { %>
                      <i
                        class="material-icons"
                        data-html="true"
                        data-toggle="tooltip"
                        data-original-title="<span class='text-warning'>Names for this genome version include:</span> <br /> <%=element%> <br /> <%= data.Synonyms[element].join('<br />') %>"
                      >
                        info
                      </i>
                      <% } else { %>
                      <i
                        class="material-icons"
                        data-html="true"
                        data-toggle="tooltip"
                        data-original-title="<span class='text-warning'>Names for this genome version include:</span> <br /> <%=element%>"
                      >
                        info
                      </i>
                    </span>
                    <% } %>
                  </div>

                  <!--                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"></path> </g> </svg>-->
                </a>
                <% }) %>
              </nav>
            </div>
          </div>
        </div>
        <% });%>
      </div>
    </div>

 <!-- Toast for Unsupported Browsers -->
    <div class="modal fade" id="unsupportedBrowserDialog" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Unsupported Web browser</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              To open a genome in IGB, use a different Web browser: Firefox, Chrome, or Edge.
            </p>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Toast for IGB Not Started and Download IGB -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">To view a genome, start IGB</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Don't have IGB? No problem!
            </p>
            <a type="button" class="btn btn-custom btn-danger" target="_blank" onclick="window.location=igb_url" style="color:white">
              Install IGB &nbsp;&nbsp;
              <i class="fa fa-download"> </i>
            </a>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Importing Required Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/gh/faisalman/ua-parser-js/src/ua-parser.js"></script>

    <!-- Search On Page -->
    <script src="/public/javascripts/search-script.js"></script>

    <!-- Work with IGB Endpoints -->
    <script src="/public/javascripts/IgbEndpoints.js"></script>

    <!-- For Handling Transform Clicks -->
    <script type="application/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      $("button").click(function (event) {
        $("#" + this.id).toggleClass("active");
        $("#event2" + this.id).toggleClass("active");
        $("#event3" + this.id).toggleClass("active");
      });
    </script>

    <script type="application/javascript">
      let activatePopup = () => {
        window.open(
          "https://bioviz.org/download.html",
          "popup",
          "width=600,height=600"
        );
        return false;
      };
    </script>

    <!-- Generate a Download Link for IGB Based on Client OS and CPU Architecture
        Modeled after the scripts implemented in https://www.bioviz.org/download.html -->
    <script>
        $(window).on("load",function (e) {
            var parser = new UAParser();
            var os = parser.getOS().name;
            var systemConfig = parser.getCPU();
            if (os == "Linux" || os == "CentOS" || os == "Fedora" || os == "FreeBSD" || os == "Debian" || os == "DragonFly" || os == "RedHat" || os == "Mint" || os == "GNU" || os == "Ubuntu") {
                window.igb_url = "https://www.bioviz.org/igb/releases/current/IGB_unix_current.sh";
            }
            if (os == "Windows [Phone/Mobile]" || os == "Windows") {
                if (systemConfig.architecture == "amd64" || systemConfig.architecture == "ia64" || systemConfig.architecture == "arm64" || systemConfig.architecture == "irix64" || systemConfig.architecture == "mips64" || systemConfig.architecture == "sparc64") {
                    window.igb_url = "https://www.bioviz.org/igb/releases/current/IGB_windows-x64_current.exe"
                } else {
                    window.igb_url = "https://www.bioviz.org/igb/releases/current/IGB_windows_current.exe"
                }
            }
            if (os == "Mac OS X" || os == "Mac OS") {
                window.igb_url = "https://www.bioviz.org/igb/releases/current/IGB_macos_current.dmg"
            }
        });
    </script>

  </body>
</html>
