/* Make space for top menu */
body .container-fluid {
  margin-top: 50px;
}

.searchbar {
  max-width: 80vw;
  position: relative;
}

.searchbar .search_icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.searchbar .search_input {
  max-width: 100%;
  padding-right: 50px;
}

.col {
  max-width: 100vw;
}
